
<!-- 
	Note: customid is optional
	if input is undefined, it will create it's own in the directive 
-->
<d3cluster-Directive customid="" groups={{groups}} items={{items}} links={{links}} groupcolorsgiven={{}}></d3cluster-Directive>

<div style="position: absolute; top: 0; right: 200px; z-index: 1000;">
	<p style="color: #db003a;">#db003a</p>
	<p style="color: #002d61;">#002d61</p>
	<p style="color: #f08c00;">#f08c00</p>
	<p style="color: #0080c4;">#0080c4</p>
	<p style="color: #64E572;">#64E572</p>
	<p style="color: #FF9655;">#FF9655</p>
	<p style="color: #FFF263;">#FFF263</p>
	<p style="color: #6AF9C4;">#6AF9C4</p>
</div>